body {
    background: whitesmoke;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: black;
    margin-top: 60px;
}

/*******************************************/
/*          Device styles                  */
/*******************************************/


.pnd-device {
    height: 55px;
    position: relative;
}

.pnd-device-icon, .pnd-browser-icon {
    position: absolute;
    background: transparent url("../images/devices_v1.png") no-repeat 0 -427px;
    margin-left: 41em;
}

.pnd-browser-icon {
    left: 0;
    top: 0;
    width: 27px;
    height: 25px;
}

.pnd-device-icon {
    left: 0;
    top: 0;
    width: 60px;
    height: 40px;
}

.pnd-device-icon-mobile {
    background-position: 0 -309px
}

.pnd-device-icon-desktop {
    background-position: 0 -351px
}

.pnd-device-icon-tablet {
    background-position: 0 -387px;
    height: 32px
}

.pnd-device-icon-mobile-iphone {
    background-position: 0 1px
}

.pnd-device-icon-mobile-android {
    background-position: 0 -39px
}

.pnd-device-icon-mobile-windows {
    background-position: 0 -79px
}

.pnd-device-icon-mobile-linux {
    background-position: 0 -763px
}

.pnd-device-icon-desktop-mac {
    background-position: 0 -118px
}

.pnd-device-icon-desktop-windows {
    background-position: 0 -157px
}

.pnd-device-icon-desktop-linux {
    background-position: 0 -805px
}

.pnd-device-icon-tablet-ipad {
    background-position: 0 -197px
}

.pnd-device-icon-tablet-windows {
    background-position: 0 -237px
}

.pnd-device-icon-tablet-android {
    background-position: 0 -277px
}

.pnd-device-icon-tablet-linux {
    background-position: 0 -841px
}

.pnd-browser-icon-firefox {
    background-position: 0 -489px
}

.pnd-browser-icon-chrome {
    background-position: 0 -514px
}

.pnd-browser-icon-internetexplorer {
    background-position: 0 -539px
}

.pnd-browser-icon-safari {
    background-position: 0 -563px
}

.pnd-browser-icon-android {
    background-position: 0 -588px
}

.pnd-browser-icon-edge {
    background-position: 0 -710px
}

.pnd-browser-icon-opera {
    background-position: 0 -735px
}
